{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'core/css/api.css' %}">
  <title>CLIMA</title>
</head>

<body>
  <div class="api">
  </div>
  <section class="top-banner">
    <div class="container">
      <h1 class="heading">Revisa el clima para tus plantas</h1>
      <form>
        <input type="text" placeholder="Buscar una ciudad">
        <button type="submit">Buscar</button>
        <button  type="button" onclick="location.reload()">Limpiar</button>
        <span class="msg"></span>
      </form>
    </div>
  </section>
  <section class="ajax-section">
    <div class="container">
      <ul class="cities"></ul>
    </div>
  </section>
  <footer class="page-footer">
  </footer>
  <script src="{% static 'core/js/api.js' %}"></script>
</body>

</html>